
.contactUsSection{
 justify-content: space-between;
}
/* About */
.modal-footer{
  justify-content: center;
}

#about-1{
  margin-top: 20px;
}
.about-left{
  margin-top: 7%;
}
.about-left p{
  margin-top: 0rem ;
}
.about-img{
  max-width: 500px;
}


#about-1 .btn {
  border-radius: 100rem;
  padding: 1rem;
  font-family: 'Avenir Next';
  font-size: 1rem;
  padding: .5rem 3rem;
  color: #105816;
  border: solid 2px transparent;
  background-image: linear-gradient(101deg, #4CC056,  #65a699), linear-gradient(101deg, #4CC056,  #65a699);
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: 2px 1000px 1px #fff inset;
}

#about-1 .btn:hover {
  
  transition: top box-shadow 0.5s ease;
  box-shadow: none;
  color: white;
}
@media only screen and (max-width: 670px) {
  p{
    font-size: 12px;
  }
  .p2{
    display: none;
    height: 0px;
    width: 0px;
  }
  .about-img-div{
    align-items: center;
    display: flex;
  }
  .about-img{
    max-width: 135px;
   
  }

}
button {
  position: relative;
  height: 45px;
  width: 300px;
  margin: 10px 7px;
  padding: 5px 15px;
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 2px;
  color:  #105816;
  border: 2px  #4CC056 solid;
  border-radius: 20px;
  text-transform: uppercase;
  outline: 0;
  overflow:hidden;
  background: none;
  z-index: 1;
  cursor: pointer;
  transition:         0.08s ease-in;
  -o-transition:      0.08s ease-in;
  -ms-transition:     0.08s ease-in;
  -moz-transition:    0.08s ease-in;
  -webkit-transition: 0.08s ease-in;
}

.fill:hover {
  color: whitesmoke;
  border: none;
}

.fill:before {
  content: "";
  position: absolute;
  background-image: linear-gradient(101deg, #4CC056,  #65a699), linear-gradient(101deg, #4CC056,  #65a699);
  bottom: 0;
  left: 100%;
  right: 0;
  top: 0;
  z-index: -1;
  -webkit-transition:left  0.3s ease-in-out;
}

.fill:hover:before {
  left: 0;
}

/* How it works  */

.how-img{
  max-width: 500px;
}
.how-text {
  margin-top: auto;
  margin-bottom: auto;
}

@media only screen and (max-width: 670px) {
  p{
    font-size: x-small;
  }
  .how-img{
    max-width: 180px;
  }
}

      .QNLLo .nav {
        font-family: Helvetica;
        font-size: 14px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 2;
        -webkit-letter-spacing: normal;
        -moz-letter-spacing: normal;
        -ms-letter-spacing: normal;
        letter-spacing: normal;
        text-align: center;
        width: 100%;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-align-items: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding: 0 4vw;
      }
      .QNLLo .nav-right {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-align-items: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding-right: 26px;
      }
      
      .cRtqZR .nav {
        font-family: Helvetica;
        font-size: 14px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 2;
        -webkit-letter-spacing: normal;
        -moz-letter-spacing: normal;
        -ms-letter-spacing: normal;
        letter-spacing: normal;
        text-align: center;
        width: 100%;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-align-items: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding: 0 4vw;
      }
      .cRtqZR .nav-right {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-align-items: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding-right: 26px;
      }
      /* sc-component-id: NavDesktop__StyledLink-sc-xreqku-1 */
      .dgegDq {
        margin-right: 20px;
        font-weight: 500;
        line-height: 2px;
        color: rgb(244, 243, 242);
        color: #212121;
        font-family: Helvetica;
        font-size: 14px;
        opacity: 1;
        position: relative;
      }
      .dgegDq:hover {
        color: rgb(24, 26, 32);
        color: black;
        opacity: 1;
      }
      .fsnEF {
        text-decoration: none;
        margin-right: 40px;
        font-weight: 500;
        line-height: 2px;
        color: rgb(244, 243, 242);
        color: #212121;
        font-family: Helvetica;
        font-size: 18px;
        opacity: 0.4;
        position: relative;
      }
      .fsnEF:hover {
        color: rgb(255, 255, 255);
        color: black;
        opacity: 1;
      }
      .fsnEF:hover:after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -20px;
        width: 60px;
        height: 3px;
        background-color: rgb(38, 216, 38);
      }
      @media only screen and (max-width: 670px) {
        .fsnEF {
          display: none;
        } 
      }

 /* slideer */
   
    
    .slider{
      position: relative;
      background-color: #40D3DC;
      width: 100vw;
      height: 75vh;
      border-radius: 10px;
      overflow: hidden;
    }
    
    .slides{
      width: 100vw;
      height: 75vh;
      display: flex;
    }
    
    .slides input{
      display: none;
    }
    
    .slide{
      width: 100%;
      transition: 2s;
    }
    
    .slide img{
      width: 100vw;
      height: 75vh;
    }
    
    /*css for manual slide navigation*/
/*     
    .navigation-manual{
      position: absolute;
      width: 100vw;
      margin-top: -20px;
      display: flex;
      justify-content: center;
    }
    
    .manual-btn{
      border: 2px solid #40D3DC;
      padding: 5px;
      border-radius: 10px;
      cursor: pointer;
      transition: 1s;
    }
    
    .manual-btn:not(:last-child){
      margin-right: 60px;
    }
    
    .manual-btn:hover{
      background: #40D3DC;
    }
    
    #radio1:checked ~ .first{
      margin-left: 0;
    }
    
    #radio2:checked ~ .first{
      margin-left: -100%;
    } */
    
    /* #radio3:checked ~ .first{
      margin-left: -200%;
    }
    
    #radio4:checked ~ .first{
      margin-left: -300%;
    } */
/*     
    @media only screen and (max-width: 670px) {
      .slider{
        background-color: #40D3DC;
        width: 100vw;
        height: 200px;
        border-radius: 10px;
        overflow: hidden;
      }
      .slides{
        width: 100vw;
        height: 200px;
        display: flex;
      }
      
      .slides input{
        display: none;
      }
      
      .slide{
        width: 100%;
        transition: 2s;
      }
      
      .slide img{
        width: 100vw;
        height: 200px;
      }
      .manual-btn{
        border: 1px solid #40D3DC;
        padding: 2.5px;
        border-radius: 5px;
        cursor: pointer;
        transition: 1s;
      }

      .navigation-manual{
        position: absolute;
        width: 100vw;
        margin-top: 15px;
        display: flex;
        justify-content: center;
      }
      .manual-btn:not(:last-child){
        margin-right: 30px;
      }
    } */
      

    /*css for automatic navigation*/
    
    /* .navigation-auto{
      position: absolute;
      display: flex;
      width: 100vw;
      justify-content: center;
      margin-top: 650px;
    }
    
    .navigation-auto div{
      border: 2px solid #40D3DC;
      padding: 5px;
      border-radius: 10px;
      transition: 1s;
    }
    
    .navigation-auto div:not(:last-child){
      margin-right: 60px;
    }
    
    #radio1:checked ~ .navigation-auto .auto-btn1{
      background: #40D3DC;
    }
    
    #radio2:checked ~ .navigation-auto .auto-btn2{
      background: #40D3DC;
    }
    
    #radio3:checked ~ .navigation-auto .auto-btn3{
      background: #40D3DC;
    }
    
    #radio4:checked ~ .navigation-auto .auto-btn4{
      background: #40D3DC;
    }
    @media only screen and (max-width: 670px) {
      .navigation-auto{
        position: absolute;
        display: flex;
        width: 100vw;
        justify-content: center;
        margin-top: 216px;
      }
      .navigation-auto div{
        border: 1px solid #40D3DC;
        padding: 2.5px;
        border-radius: 5px;
        transition: 1s;
      }
      .navigation-auto div:not(:last-child){
        margin-right: 30px;
      }
    } */

/* Blog */
#howToImageContainer{
  align-items: center;
  justify-content: center;
  display: flex;
}
.blog-img{
  object-fit: fill;
  max-width: 100%;
  border-radius: 10px;
}
.blog-text-a{
  display: flex;
  flex-direction: column-reverse;
  
}
.blog-text-a a{
  text-decoration: none;
  color: #747474;
}
.blog-text  {
  margin-top: 50px;
  margin-bottom: 30px;

}
.blog-detail-pg{
  margin-top: 40px;
}
.sub-datail{
  justify-content: center;
  text-align: justify;
}

/* FAQ */
#FAQ{
  margin-top: 60px;
  margin-bottom: 20px;
}

.accordion .container .row{
  justify-content: center;
}
.accordion-header button{
  font-size: 15px;
    font-weight: 500
}
.accordion-button:not(.collapsed) {
  color: #105816;
  background-color: #E6FFE9;
    box-shadow:none;
}


/* footer */
#footer{
  background-color: #111211;
  bottom: 0%;
}
.white{
  color: rgb(255, 255, 255);
}
/* slider */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: fill;
  
}
.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
  margin-top: 10px;
  bottom: 0px;
  left: 0;
  width: 100%;
}
  .swiper-pagination-bullet-active {
    width: 35px;
    opacity: var(--swiper-pagination-bullet-opacity, 1);
    background: var(--swiper-pagination-color,var(--swiper-theme-color));
    border-radius: 10px;
    background-color: #71b361;
  }
  .row{
    overflow: hidden;
  }