/* default */
.heading{
  margin-top: 5%;
}
ul,li,th,tr,p{
  font-size: 1rem;
}
/* tr{
  vertical-align: middle;
} */
h1{
  font-size: 3rem;
}
h2{
  font-size: 2.5rem;
  font-weight: 700;
}
h3{
  font-size: 2rem;
  font-weight: 600;

}
h4{
  font-size: 1.7rem;
}
h5 {
  font-size: 1.5rem;
  font-weight: 600;
}
span{
  color: var(--color2);
  font-weight: 300;
}
h6 {

}
.g-5{
  --bs-gutter-x:5rem !important;
}
:root{
  --color1: rgb(38, 216, 38);
  --color2: #4CC056 ;
  --color3: linear-gradient(260deg, #CFF5CE, #77D3A7);
}


  /* nav */
  .navbar-toggler{
    width: 55px;
    border: none !important;
    background-color: aliceblue;
  }
  .navbar-nav{
    text-align: center;
  }
  .navbar-nav li{
   margin: 5px 0px;
  }
  .container-fluid{
    margin-top: 0px;
  }
  .navbar{
    z-index: 999;
  }
  
  
  @media only screen and (min-width: 1000px) {
    .navbar{
      position: fixed;
      width: 100%;
      top: 0%;
    }
    #navbarSupportedContent{
      margin: 0;
      padding: 0;
      position: absolute ;
      right: 66px;
    }
    .container-fluid{
      padding-left: 5%;
  
    }
  }
.contactUsSection{
    justify-content: space-between;
   }

/* merchant enefits */
.service-11 {
  font-family: "Montserrat", sans-serif;
	color: #8d97ad;
  font-weight: 300;
}

.service-11 h1, .service-11 h2, .service-11 h3, .service-11 h4, .service-11 h5, .service-11 h6 {
  color: #3e4555;
}

.service-11 .font-weight-medium {
	font-weight: 500;
}

.service-11 .bg-light {
    background-color: #f4f8fa !important;
}

.service-11 .subtitle {
    color: #8d97ad;
    line-height: 24px;
}

.service-11 .card.card-shadow {
    -webkit-box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1);
    box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1);
}

.service-11 .wrap-service11-box {
  margin-top: 60px;
}

.service-11 .wrap-service11-box .icon-space {
  margin: -70px 0 20px;
}

.service-11 .wrap-service11-box .icon-space .icon-round {
  font-size: 45px;
  color: #ffffff;
}

.service-11 .bg-success-gradiant {
    background: #2cdd9b;
    background: -webkit-linear-gradient(legacy-direction(to right), #2cdd9b 0%, #1dc8cc 100%);
    background: -webkit-gradient(linear, left top, right top, from(#2cdd9b), to(#1dc8cc));
    background: -webkit-linear-gradient(left, #2cdd9b 0%, #1dc8cc 100%);
    background: -o-linear-gradient(left, #2cdd9b 0%, #1dc8cc 100%);
    background: linear-gradient(to right, #2cdd9b 0%, #1dc8cc 100%);
}

.service-11 .icon-round {
		width: 80px;
    line-height: 80px;
}

.service-11 .btn-success-gradiant {
		background: #2cdd9b;
    background: -webkit-linear-gradient(legacy-direction(to right), #2cdd9b 0%, #1dc8cc 100%);
    background: -webkit-gradient(linear, left top, right top, from(#2cdd9b), to(#1dc8cc));
    background: -webkit-linear-gradient(left, #2cdd9b 0%, #1dc8cc 100%);
    background: -o-linear-gradient(left, #2cdd9b 0%, #1dc8cc 100%);
    background: linear-gradient(to right, #2cdd9b 0%, #1dc8cc 100%);
}

.service-11 .btn-success-gradiant:hover {
		background: #1dc8cc;
    background: -webkit-linear-gradient(legacy-direction(to right), #1dc8cc 0%, #2cdd9b 100%);
    background: -webkit-gradient(linear, left top, right top, from(#1dc8cc), to(#2cdd9b));
    background: -webkit-linear-gradient(left, #1dc8cc 0%, #2cdd9b 100%);
    background: -o-linear-gradient(left, #1dc8cc 0%, #2cdd9b 100%);
    background: linear-gradient(to right, #1dc8cc 0%, #2cdd9b 100%);	
}

.service-11 .btn-md {
    padding: 15px 45px;
    font-size: 16px;
}


/* Become A Merchnt */

.mer-1{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.s-1{
  background-image: url();
}
.s-2{
  background-image: url();

}
.s-3{
  background-image: url();

}
.s-4{
  background-image: url();

}

.icon-d{
}
/* hero download */
#download{
  background: linear-gradient(260deg, #CFF5CE, #77D3A7);
  height: 400px;
  margin: 201px 0 0 0;
}
.download-mockup{
  max-width: 581px;
  margin-top: -179px;
  position: absolute;
}
.download-btn{
  margin-top: 20px ;
  margin-left: -3px;
  max-width: 200px;
}
.download-content{
  margin-top: 6%;
}


@media only screen and (max-width: 670px) {
  #download{
    background: linear-gradient(260deg, #CFF5CE, #77D3A7);
    height: 150px;
    margin: 67px 0 40px 0;
  }
  .download-mockup{
    max-width: 200px;
    margin-top: -50px;
    margin-left: -12px;
    position: absolute;
  }
  .download-btn{
    margin-top: auto ;
    margin-left: -3px;
    max-width: 69px;
  }
  .download-content h1{
    font-size: 12px;
    font-weight: bold;
  }
  .download-content p{
    font-size: 8px;
  }
  .download-content{
    margin-top: 8%;
  }
}

/* sc-component-id: NavDesktop__StyledLink-sc-xreqku-1 */
.fsnEF {
  margin-top: 10px;
  text-decoration: none;
  margin-right: 20px;
  font-weight: 500;
  line-height: 2px;
  color: rgb(244, 243, 242);
  color: #212121;
  font-family: Helvetica;
  font-size: 18px;
  opacity: 0.4;
  position: relative;
}
.fsnEF:hover {
  color: var(--color2) !important ;
  opacity: 1;
}
.fsnEF:hover:after {
  content: "";
  left:15%;
  position: absolute;
  bottom: -10px;
  width: 60px;
  height: 3px;
  background-color: var(--color1);
}
.active {
  margin-top: 10px;
  text-decoration: none;
  margin-right: 20px;
  font-weight: 500;
  line-height: 2px;
  color: var(--color2) !important ;
  font-family: Helvetica;
  font-size: 18px;
  opacity: 1;
  position: relative;
}
.active::after{
  content: "";
  left:15%;
  position: absolute;
  bottom: -10px;
  width: 60px;
  height: 3px;
  background-color: var(--color1);
}

@media only screen and (max-width: 1000px) {
  .fsnEF:hover:after {
    content: "";
    left:0;
    width: .1px;
    background-color: var(--color1);
    opacity: 0.4;

  }
}
  



/* footer */
#footer{
  background-color: #111211;
  bottom: 0%;
}

.white{
  color: rgb(255, 255, 255);
}
@media only screen and (max-width: 770px) {
  #footer{
    text-align: center;
  }
}



