

/* default */
.heading{
  margin-top: 5%;
}
ul,li,th,tr,p{
  font-size: 0.8rem;
}
/* tr{
  vertical-align: middle;
} */
h1{
  font-size: 3rem;
}
h2{
  font-size: 2.5rem;
  font-weight: 700;
}
h3{
  font-size: 2rem;
  font-weight: 600;

}
h4{
  font-size: 1.7rem;
}
h5 {
  font-size: 1.5rem;
  font-weight: 600;
}
span{
  color: var(--color2);
  font-weight: 300;
}
h6 {

}
:root{
  --color1: rgb(38, 216, 38);
  --color2: #4CC056 ;
  --color3: linear-gradient(260deg, #CFF5CE, #77D3A7);
}


  /* nav */
  .navbar-toggler{
    width: 55px;
    border: none !important;
    background-color: aliceblue;
  }
  .navbar-nav{
    text-align: center;
  }
  .navbar-nav li{
   margin: 5px 0px;
  }
  .container-fluid{
    margin-top: 0px;
  }
  .navbar{
    z-index: 999;
  }
  
  
  @media only screen and (min-width: 1000px) {
    .navbar{
      position: fixed;
      width: 100%;
      top: 0%;
    }
    #navbarSupportedContent{
      margin: 0;
      padding: 0;
      position: absolute ;
      right: 66px;
    }
    .container-fluid{
      padding-left: 5%;
  
    }
  }
.contactUsSection{
    justify-content: space-between;
   }

   /* sc-component-id: NavDesktop__StyledLink-sc-xreqku-1 */
.fsnEF {
  margin-top: 10px;
  text-decoration: none;
  margin-right: 20px;
  font-weight: 500;
  line-height: 2px;
  color: rgb(244, 243, 242);
  color: #212121;
  font-family: Helvetica;
  font-size: 18px;
  opacity: 0.4;
  position: relative;
}
.fsnEF:hover {
  color: var(--color2) !important ;
  opacity: 1;
}
.fsnEF:hover:after {
  content: "";
  left:15%;
  position: absolute;
  bottom: -10px;
  width: 60px;
  height: 3px;
  background-color: var(--color1);
}
.active {
  margin-top: 10px;
  text-decoration: none;
  margin-right: 20px;
  font-weight: 500;
  line-height: 2px;
  color: var(--color2) !important ;
  font-family: Helvetica;
  font-size: 18px;
  opacity: 1;
  position: relative;
}
.active::after{
  content: "";
  left:15%;
  position: absolute;
  bottom: -10px;
  width: 60px;
  height: 3px;
  background-color: var(--color1);
}

@media only screen and (max-width: 1000px) {
  .fsnEF:hover:after {
    content: "";
    left:0;
    width: .1px;
    background-color: var(--color1);
    opacity: 0.4;

  }
}
  
/* Contact us  */
#contact-us{
margin-top: 5%;
}
#contact-us form{
display: flex;
flex-direction: column;
padding: 2vw 0.5vw;
width: 100%;
}
#contact-us form input {
padding: 9px;
border-radius: 8px;
margin: 11px 0px;
border: 1px solid #056a05;
}
#contact-us form textarea{
padding: 9px;
border-radius: 8px;
margin: 11px 0px;
border: 1px solid #056a05;
}

.contact-us-right{
display: flex;
flex-direction: column;  
}

.cont li{
  list-style: none;
  display: inline;
}
.cont a{
  color: #111211;
  text-decoration: none;
}
.cont-img{
  margin:2px 30px 2px 0;
  width: 4%;
}
.icon img{
cursor: pointer;
width: 8%;
margin: 20px 6px 0 0 ;
background-color: #111211;
border-radius: 100%;
}
.icon img:hover{
  cursor: pointer;
  width: 9%;
  transition:  0.3s ease-in-out;
  background-color: #4CC056;

  }
.btn-send{
  font-size: 14px;
  font-weight: 700;
}
  @media only screen and (max-width:1000px){
    .icon img{
      display: none;
      }
      .btn-send{
        font-size: 12px;
        font-weight: 700;
      }
  }

  button {
    align-self: center;
    position: relative;
    height: 45px;
    width: 45%;
    margin: 10px 7px;
    padding: 5px 15px;
    font-weight: 700;
    font-size: 80%;
    letter-spacing: 2px;
    color:  #105816;
    border: 2px  #4CC056 solid;
    border-radius: 20px;
    text-transform: uppercase;
    outline: 0;
    overflow:hidden;
    background: none;
    z-index: 1;
    cursor: pointer;
  }
  button:hover{
    background-color: #4CC056;
    color: aliceblue;
    transition: 0.3s ease-in-out;
  }
  
/* footer */
#footer{
  background-color: #111211;
  bottom: 0%;
  margin-top: 3%;
}

.white{
  color: rgb(255, 255, 255);
}
@media only screen and (max-width: 770px) {
  #footer{
    text-align: center;
  }
}



/* nav */
.navbar-toggler{
  width: 55px;
  border: none !important;
  background-color: aliceblue;
}
.navbar-nav{
  text-align: center;
}
.navbar-nav li{
 margin: 5px 0px;
}
.container-fluid{
  margin-top: 0px;
}
.navbar{
  z-index: 999;
}


@media only screen and (min-width: 1000px) {
  .navbar{
    position: fixed;
    width: 100%;
    top: 0%;
  }
  #navbarSupportedContent{
    margin: 0;
    padding: 0;
    position: absolute ;
    right: 66px;
  }
  .container-fluid{
    padding-left: 5%;

  }
}
